body{

	background-image: url("https://r4.wallpaperflare.com/wallpaper/586/603/742/minimalism-4k-for-mac-desktop-wallpaper-08165d58e0100cf8e0ec214e88e2e4aa.jpg");
background-size: cover;
}
input{
	border-radius: 30px;
	width: 240px;
	height: 30px;
}
button{
	background-color:orange solid;
	border-radius: 20px; 
	padding:20px;
}
div{
	background-color: aqua;
}